* {
    margin: 0;
    padding: 100;
    box-sizing: border-box;
  }
  h1 {
    display: inline-block;
  }
  div {
    background-color: rgb(23, 23, 170);
    color: aliceblue;
    padding: 50px;
    text-align: left;

    border: 5px solid blu;
    padding: 40;
    margin: 5;
}
.box{
    border: 0px solid cornflowerblue;
    width: 1000px;
    height: 200px;
    background-color: rgb(30, 30, 79);

}
